@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wrapper {
   @apply min-h-screen
   border
   p-8;
   /* background-color: #16181e; */
}

.logo-wrap {
   @apply w-96;
}

/* form */
.search-wrap {
   @apply flex   
   items-start;
}
.search-field {
   @apply flex 
   justify-between 
   w-3/4
   shadow-sm;
}

.search {
   @apply w-full
   border
   rounded-lg
   py-2 
   px-6;
}

/* * text  */
.h1-txt {
   @apply mb-4 
   text-2xl;
}

/* * movies css */

.feature {
   @apply border 
   border-gray-100
   h-80 
   shadow-md
   hover:cursor-pointer
   /* hover:shadow-md */
   hover:bg-gray-50;
}

.latest-cont {
   @apply flex 
   w-full
   gap-1
   content-center 
   justify-center
   flex-wrap
   lg:flex-nowrap;
}

.trailer-wrap {
   @apply object-contain
   min-w-full
   h-64 
   transition transform hover:scale-95 duration-500;
}

.celeb-wrap {
   @apply flex
   w-full
   flex-wrap
   gap-1
   lg:flex-nowrap;
}

.h1-wrap {
   @apply flex items-center justify-between;
}

.m-c {
   @apply transition
   transform hover:scale-95 duration-500 
   flex 
   hover:cursor-pointer
   /* hover:shadow-lg */
   /* hover:bg-gray-50 */
   grow;
}

/* .celeb-1 {
   @apply ;
} */

/* footer links */
.li-api {
   @apply text-sm
   hover:cursor-pointer;
}
