@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wrapper {
   @apply min-h-screen
   border
   p-8;
   /* background-color: #16181e; */
}

.logo-wrap {
   @apply w-96;
}

/* form */
.search-wrap {
   @apply flex   
   items-start;
}
.search-field {
   @apply flex 
   justify-between 
   w-3/4
   shadow-sm;
}

.search {
   @apply w-full
   border
   rounded-lg
   py-2 
   px-6;
}

/* * text  */
.h1-txt {
   @apply mb-2 
   text-2xl;
}

/* * movies css */

.feature {
   @apply border 
   rounded-2xl 
   h-80 
   shadow-md
   hover:cursor-pointer
   hover:shadow-sm
   hover:bg-gray-50;
}

.latest-cont {
   @apply flex-wrap 
   flex 
   gap-4 
   content-center 
   justify-center 
   w-full;
}

.h1-wrap {
   @apply flex items-center justify-between;
}

.m-c {
   @apply border
   rounded-lg
   shadow-md
   hover:cursor-pointer
   hover:shadow-sm
   hover:bg-gray-50
   grow;
}

.movies-1 {
   @apply h-72;
}

.movies-2 {
   @apply h-72;
}

.celeb-1 {
   @apply h-36;
}

/* footer links */
.li-api {
   @apply text-sm
   hover:cursor-pointer;
}
