@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wrapper {
   @apply min-h-screen
   p-8;
   /* background-color: #16181e; */
}

.logo-wrap {
   @apply w-96;
}

.menu {
   @apply hidden
   lg:block
   hover:font-semibold
   pl-12 text-xl hover:cursor-pointer;
}

/* form */
.search-wrap {
   @apply w-full flex align-middle;
}
.search-field {
   @apply flex 
   justify-center
   align-middle
   items-center
   w-3/4
   shadow-sm;
}

.form-wrap {
   @apply w-full flex justify-center md:justify-end mt-4 md:mt-0;
}

.search-value {
   @apply w-full
   border
   py-2 
   px-6;
}

/* * text  */
.h1-txt {
   @apply mb-4 
   text-2xl;
}

/* * movies css */

.feature {
   @apply hover:cursor-pointer
   /* hover:shadow-md */
   hover:bg-gray-50;
}

.feat-wrap {
   @apply relative flex justify-center flex-grow;
}
.latest-cont {
   @apply flex 
   w-full
   gap-1
   content-center 
   justify-center
   flex-wrap
   lg:flex-nowrap;
}

.search-res {
   @apply flex gap-1
   flex-wrap;
}

.trailer-wrap {
   @apply object-contain
   min-w-full
   h-64 
   transition transform hover:scale-95 duration-500;
}

.celeb-wrap {
   @apply flex
   w-full
   flex-wrap
   gap-1
   lg:flex-nowrap;
}

.h1-wrap {
   @apply flex items-center justify-between;
}

.m-c {
   @apply transition
   transform hover:scale-95 duration-500 
   flex 
   flex-col
   hover:cursor-pointer
   grow;
}

.celeb-1 {
   @apply flex 
   flex-col
   grow;
}

/* footer links */
.li-api {
   @apply text-sm
   hover:cursor-pointer;
}

.dot-counter {
   @apply hidden

   text-center absolute
   bottom-0 right-0
   mr-16
   mb-8
   lg:flex
   items-center;
}

.dot {
   height: 15px;
   width: 15px;
   margin: 0 3px;
   background-color: rgb(118, 133, 160);
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active {
   background-color: #0fb6de;
   height: 18px;
   width: 18px;
}

.slide-title {
   @apply absolute
   bottom-0
   lg:mb-8
   lg:ml-16
   ml-4
   mb-2
   lg:text-4xl
   md:text-xl
   font-semibold;
   color: #1cb8d9;
}

.bg-wrap {
   @apply relative 
   overflow-hidden 
   bg-cover 
   bg-no-repeat 
   my-12
   p-12 
   text-white;
}

.pages-wrap {
   @apply flex
   w-fit
   align-middle
   justify-center
   items-center
   text-center
   border
    m-4
    /* px-4 */
    divide-x;

   /* background-color: #1cb8d9; */
}

.top-wrap {
   @apply flex p-2 items-center md:flex-row flex-col justify-center align-middle;
}
